<div class="container">
	<div class="row">
		<div class="md-col-12">
			<h3>Event Data for Application: Blocipedia</h3>
			<div>
				<h4>
				<br />
					<span>
						<%= Time.now.strftime('%b %Y') %>
					</span>
						 <!--%= form_for @referers, html: {class: 'form-inline'} do |f| %-->
							<!--div class="form-group"-->
								<!--%= f.label :referers, class: 'sr-only' %-->
								<!--%= f.text_field :referers, class: 'form-control' %><br /-->
							<!--/div-->
						<!--% end %-->
					<span>
						
					</span>
				</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<% if @events.all.count == 0 %>
			<div class="col-md-12">
				<div style="padding: 200px">
					<center><h3>No Data available. Waiting for data to arrive...</h3></center>
				</div>
			</div>
		<% else %>
			<div class="row">
				<div class="col-md-12">
				<div>
					<select name="user_id">
						<%= @referers.each do |referer| %>
							<option value="<%= @referers.last[1] %>"><%= @referers.last[0] %></option>
						<% end %>
					</select>
				</div>
				</div>
				<br /><br />
			</div>

			<!-- Graphs -->
			<div class="row">
				<br /></br />
				<div class="col-md-6">
					<h4>Place holder data</h4>
					<%= content_tag 'canvas', '', id: 'first_chart', height: '350', width: '500' %>
				</div>
				<div class="col-md-6">
					<!-- Pages visited -->

					<h4>Number of characters in URLs of pages visited</h4>
					<%= content_tag 'canvas', '', id: 'events_chart', height: '450', width: '500' %>
				</div>
			</div>
			<!-- Scirpts for graphs -->
			<script>
				var dataFirstChart = {
					labels : ["January","February","March","April","May","June","July"],
					datasets : [
						{
							fillColor : "rgba(220,220,220,0.5)",
							strokeColor : "rgba(220,220,220,1)",
							pointColor : "rgba(220,220,220,1)",
							pointStrokeColor : "#fff",
							data : [65,59,90,81,56,55,40]
						},
						{
							fillColor : "rgba(151,187,205,0.5)",
							strokeColor : "rgba(151,187,205,1)",
							pointColor : "rgba(151,187,205,1)",
							pointStrokeColor : "#fff",
							data : [28,48,40,19,96,27,100]
						}
					]
				}

			var ctxFirstChart = $("#first_chart").get(0).getContext("2d");
			var firstChartline = new Chart(ctxFirstChart).Line(dataFirstChart);
			</script>
			<script>
				var dataEvents = {
					labels : <%= raw(@all_referers) %>,
				datasets : [
					<% @events.all.each do |e| %>
							<% unless e.id == Event.last.id %>
								<%= raw("
									{
										fillColor : 'rgba(151,187,205,0.5)',
										strokeColor : 'rgba(151,187,205,1)',
										pointColor : 'rgba(151,187,205,1)',
										pointStrokeColor : '#fff',
										data : [ #{e.property_1.size}, #{e.property_2.size} ]
									},")
								%>	
							<% end %>
						<% end %>
						<%= raw("
							{
								fillColor : 'rgba(151,187,205,0.5)',
								strokeColor : 'rgba(151,187,205,1)',
								pointColor : 'rgba(151,187,205,1)',
								pointStrokeColor : '#fff',
								data : [ #{Event.last.property_1.size}, #{Event.last.property_2.size} ]
							}")
						%>
					]
				}
			var ctxEventsChart = $("#events_chart").get(0).getContext("2d");
			var eventChartLine = new Chart(ctxEventsChart).Bar(dataEvents);
			</script>
	<% end %>
	</div>
</div>
