<!DOCTYPE html>
<html>
<head>
  <title>Blocmetrics</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
	<style>
		canvas{
		}
	</style>
</head>
<body>

	<div class="container">

		<% if flash[:notice] %>
			<div class="alert alert-success">
				<span type="button" class="close" data-dismiss="alert">&times;</span>
				<%=flash[:notice] %>
			</div>
		<% elsif flash[:error] %>
			<div class="alert alert-danger">
				<span type="button" class="close" data-dismiss="alert">&times;</span>
				<%= flash[:error] %>
			</div>
		<% elsif flash[:alert] %>
			<div class="alert alert-warning">
				<span type="button" class="close" data-dismiss="alert">&times;</span>
				<%= flash[:alert] %>
			</div>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
